* {
  margin: 0;
  padding: 0;
}

.header {
  float: left;
  height: 150px;
  width: 100%;
  margin: auto;

  background-color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.top-header {
  width: 1200px;
  height: 90px;
  margin: auto;
  display: flex;
}
.header-left {
  width: 150px;
  height: 90px;
}
.header-left button {
  width: 100px;
  display: inline-flex;
  margin: 25px 25px;
  height: 40px;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 19px;
  background-color: transparent;
}

.header-left button img {
  width: 18%;
}

.header-middle {
  width: 900px;

  height: 90px;
  align-content: center;
}

.header-middle img {
  width: 15%;
  margin: 21px 383px;
}
.header-right {
  width: 150px;

  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishlist img {
  width: 60%;
}

.cart img {
  width: 60%;
}

.slider-crousel {
  float: left;
  width: 100%;
  height: 700px;
  background-color: #000000;
}

.slider-crousel img {
  width: 100%;
}

.trending {
  float: left;
  width: 100%;
  height: 700px;
  background-color: #f5f5f5;
}
.section-heading {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.section-heading #heading {
  font-size: 36px;
  font-weight: 500;
  color: #604b3b;
  margin: 50px 0px 0px 0px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.section-heading #sec-content {
  max-width: 1000px !important;
  text-align: center;
  display: inline-block;
  padding: 10px;
  line-height: 30px;
  font-family: GothamRnd-Book;
  font-size: 17px;
  color: #604b3b;
  min-height: 80px;
}

#slider {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
  height: 320px;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
}

#slider img {
  width: 100%;
}

#slider p {
  width: 200px;
  padding: 10px;
  text-align: center;
}

/* Navbar start */
.nav-bar {
  width: 1400px;
  margin: auto;
}
ul {
  list-style-type: none;
  margin: 10px 80px 10px 150px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-size: 14px;
}

li a {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  border: 1px solid black;
}

/* Navbar end */

.modal,
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content,
.modal-content2 {
  font-family: Nunito Sans;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 47%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close,
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header,
.modal-header2 {
  padding: 10px 16px;
  background-color: white;
  text-align: center;
}

#modal-body {
  padding: 2px 16px;
  background-color: white;
}
#workspace {
  width: 65%;
  margin: auto;
}
#removable {
  width: 100%;
  display: grid;
  height: 230px;
  gap: 2%;
  grid-template-columns: 28% 70%;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 13px 30px;
}
#mail,
#password {
  width: 95%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}
#removable > div:nth-child(6) > button {
  margin: 0%;
  background-color: yellow;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
}
#show-flex {
  display: flex;
  margin-top: 10px;
}
#show-flex > div {
  font-size: 12px;
  padding: 2px;
}
#show-flex > div:nth-child(1) {
  flex-grow: 1;
}
#create-acc {
  margin: 0%;
  padding: 0%;
  font-size: 12px;
  margin-top: 0%;
  margin-bottom: 0%;
}
#workspace > div {
  width: 100%;
  display: grid;
  gap: 2%;
  grid-template-columns: 28% 70%;
  grid-template-rows: 53px 53px 53px;
}

.d {
  float: left;
  overflow: hidden;
}
.d .d-btn {
  padding: 8px 12px;
  background: inherit;
  text-transform: uppercase;
}

.d-content {
  display: none;
  position: absolute;
  background: maroon;
  width: 90%;
  left: 0;
  z-index: 10;
  height: 200px;
  margin: 1% 5%;
  padding: 20px;
}
.d:hover .d-content {
  display: block;
}

/* Trending Section */
.trending {
  float: left;
  width: 100%;
  height: 700px;
  background: #f5f5f5;
}

.section-heading {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
}

.section-heading #heading {
  font-size: 36px;
  font-weight: 500;
  color: #604b3b;
  margin: 50px 0px 0px 0px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.section-heading #sec-content {
  max-width: 1000px !important;
  text-align: center;
  display: inline-block;
  padding: 10px;
  line-height: 30px;
  font-family: GothamRnd-Book;
  font-size: 17px;
  color: #604b3b;
  min-height: 80px;
}

#slider {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
  height: 320px;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
}

#slider img {
  width: 100%;
}

#slider p {
  width: 200px;
  padding: 10px;
  text-align: center;
}
/* Trending Section */


/* Priya's CSS */

#workspace >  div{
  width: 100%;
  display: grid;
  gap: 2%;
  grid-template-columns: 28% 70%;
  grid-template-rows: 53px 53px 53px;
  }
  
  .d {
  float: left;
  overflow: hidden;
  }
  .d:hover {
    cursor: pointer;
  }
  
  .d .d-btn {
  padding: 22px 12px 0px 12px;
  background: inherit;
  text-transform: uppercase;
  }
  
  .d-content1, .d-content2, .d-content3, .d-content4,.d-content5, 
  .d-content6, .d-content7, .d-content8, .d-content9, .d-content10 {
  display: none;
  position: absolute;
  background: maroon;
  width: 90%;
  left: 0;
  z-index: 10;
  height: 200px;
  margin: 1.7% 5%;
  padding: 20px;
  }
  .d:hover .d-content1, .d:hover .d-content2, .d:hover .d-content3, .d:hover .d-content4,
  .d:hover .d-content5, .d:hover .d-content6, .d:hover .d-content7, .d:hover .d-content8,
  .d:hover .d-content9, .d:hover .d-content10{
  display: block;
  cursor: pointer;
  }
  
  .d .d-content1:after{
    content: '';
    display: block;  
    position: absolute;
    left: 12%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  } 
  .d .d-content2:after{
    content: '';
    display: block;  
    position: absolute;
    left: 21%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
  .d .d-content3:after{
    content: '';
    display: block;  
    position: absolute;
    left: 28.2%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  } 
  .d .d-content4:after{
    content: '';
    display: block;  
    position: absolute;
    left: 33%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
  .d .d-content5:after{
    content: '';
    display: block;  
    position: absolute;
    left: 37%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  } 
  .d .d-content6:after{
    content: '';
    display: block;  
    position: absolute;
    left: 43.5%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
  .d .d-content7:after{
    content: '';
    display: block;  
    position: absolute;
    left: 52.5%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  } 
  .d .d-content8:after{
    content: '';
    display: block;  
    position: absolute;
    left: 61%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
  .d .d-content9:after{
    content: '';
    display: block;  
    position: absolute;
    left: 68.5%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  } 
  .d .d-content10:after{
    content: '';
    display: block;  
    position: absolute;
    left: 73.6%;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom: 15px solid maroon;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

/* Priya's CSS */