@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  font-family: "Mulish", sans-serif;
}
#message {
  background-color: #8f2c34;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* SCROLLER START */
#scroller {
  background-color: #f4f2e5;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#scroller p {
  font-size: 13px;
}
#scroller-t {
  display: flex;
  height: 100%;
}
#scroller-t > div {
  flex-grow: 1;
  margin: auto;
  padding: 0 20px;
}
#scroller-t img {
  width: 30%;
  height: auto;
}
#scroller-t input {
  padding-left: 10px;
  border: #f4f2e5;
  background-color: #f9f8f1;
  border-radius: 2px;
  height: 40px;
  width: 80%;
}
#scroller-t-r {
  display: flex;
  justify-content: right;
  gap: 20px;
}
#scroller-t-r img {
  cursor: pointer;
  width: 25px;
  height: auto;
  margin: auto 0;
}
#scroller-t-r p {
  cursor: pointer;
  margin: auto 0;
}
#scroller-b {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
}
#scroller-b > p {
  cursor: pointer;
}
#scroller-b > p:hover {
  text-decoration: underline;
  text-decoration-color: #8f2c34;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
#warning {
  color: #8f2c34;
  padding-top: 5px;
  display: none;
}

/* SCROLLER END */

body {
  background-color: #f4f2e5;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cartbox {
  display: flex;
  width: 100%;

  margin: auto;
}
#cartimage {
  width: 85%;
}
#orderdetail {
  width: 30%;
  margin-left: 3.5%;
}
.c_all,
.cpcn {
  display: flex;
  font-size: small;
}
#cpcnhr {
  width: 80%;
  margin-left: 8%;
}
.itemprice {
  margin-left: 25%;
}
#cartimage img {
  cursor: pointer;
  width: 150px;
  height: 200px;
}
.c_all {
  margin: 20px 20px 0;
  width: 100%;
  padding: 10px;
}
.c_all p {
  font-weight: bold;
  padding-top: 20px;
  line-height: 20px;
  font-size: 100%;
}

.cpcn {
  width: 80%;
  height: 80%;
}
#divr {
  width: 85%;
  display: flex;
  background-color: #f8f8f6;
  margin-top: 2%;
  margin-left: 3%;
  padding-bottom: 1.5%;
}
#divr #remov {
  width: 21px;
  height: 21px;
  margin-right: 2%;
  margin-top: 2%;
  opacity: 2;
}

#csize {
  margin-top: 15%;
  font-size: 100%;
}

hr {
  width: 60%;
  margin-left: 2.5%;
}
#hrlinee {
  width: 90%;
  margin-left: 0;
}

h2 {
  margin-top: 50px;
  margin-left: 4.5%;
}

#orderdetail p {
  font-weight: bold;
  margin-left: 5%;
}
#orderdetail .total {
  font-size: small;
}
#orderdetail button {
  width: 80%;
  height: 45px;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #e5cc76;
  border: none;
  font-weight: bold;
}
#orderdetail hr {
  margin: 4%;
}
.total {
  color: rgba(82, 12, 12, 0.767);
}

#continue button {
  border: none;
  background-color: #e5cc76;
  width: 280px;
  height: 40px;
  border-radius: 3px;
  font-weight: bold;
  margin: 50px;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.signinup {
  text-align: right;
  padding-bottom: 10px;
  cursor: pointer;
}

/*======= FOOTER START ========*/
#bottom {
  padding-top: 20px;
  float: left;
  width: 100%;
  background-color: #dbd9cd;
  height: fit-content;
  margin-top: 150px;
}
#bottom_t {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #dbd9cd;
}
#bottom p {
  font-weight: normal;
  margin: 10px 0px;
  background-color: #dbd9cd;
}

#bottom_t > div {
  margin: 1% auto;
  padding: 0px 20px;
  background-color: #dbd9cd;
}
#bottom_b {
  display: flex;
  justify-content: space-between;
  background-color: #dbd9cd;
}

#bottom_b > h3 {
  margin: 2.7%;
  background-color: #dbd9cd;
}
#bottom_b > img {
  margin: 1.7%;
}
#bottom hr {
  width: 100%;
}
#mediaq img {
  margin-top: 10px;
  cursor: pointer;
}

/*======= FOOTER END =========*/
@media (max-width: 900px) {
  #cartbox {
    display: inline;
  }
  #cartimage {
    width: 100%;
  }
  #divr {
    width: 95%;
    height: 200px;
  }
  #cartimage img {
    width: 120px;
    height: 150px;
  }
  #orderdetail {
    margin-top: 3%;
    border: 1px solid black;
    width: 88%;
    padding: 2%;
  }
  #orderdetail hr {
    width: 90%;
    margin-top: 1%;
  }
  #orderdetail button {
    margin-top: 1%;
  }
  hr {
    width: 95%;
  }
  #bottom img,
  #bottom p {
    display: none;
  }
  #bottom_t {
    display: inline;
  }
  #continue button {
    margin: 30px;
  }
  #bottom {
    margin-top: 80px;
    padding-bottom: 20px;
  }
  #bottom h3 {
    font-size: medium;
  }
  #onlycart,
  #mediaproducts {
    display: none;
  }
  #scroller-t #mediaimg {
    width: 100px;
    height: auto;
  }
  #scroller-t input {
    padding-left: 10px;
    height: 40px;
    width: 100%;
  }
  #scroller #warning {
    font-size: xx-small;
  }
}
@media (max-width: 500px) {
  body {
    min-width: 350px;
  }
  #divr {
    width: 94%;
    margin-top: 4%;
  }
  #orderdetail {
    margin-top: 4%;
  }
  #scroller-t #mediaimg {
    width: 70px;
  }

  #scroller-t input {
    font-size: xx-small;
    padding: 0;
    width: 95px;
    height: 25px;
    text-align: center;
  }
  #scroller #warning {
    font-size: xx-small;
  }
  #empty {
    font-size: large;
  }
  .cpcn {
    display: inline;
  }
  .itemprice {
    margin-left: 0;
    margin-top: 0;
  }
  #csize {
    margin-top: 0;
  }
  #bottom h3 {
    font-size: small;
  }
  #bottom {
    margin-top: 160px;
  }
  #bottom {
    padding-bottom: 25px;
  }
}
