@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: #f4f2e5;
}
#message {
  background-color: #8f2c34;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* SCROLLER START */
#scroller {
  border-bottom: 1px solid gray;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#scroller p {
  font-size: 13px;
}
#scroller-t {
  display: flex;
  height: 100%;
}
#scroller-t > div {
  flex-grow: 1;
  margin: auto;
  padding: 0 20px;
}
#scroller-t img {
  width: 30%;
  height: auto;
}
#scroller-t input {
  padding-left: 10px;
  border: #f4f2e5;
  background-color: #f9f8f1;
  border-radius: 2px;
  height: 40px;
  width: 80%;
}
#scroller-t-r {
  display: flex;
  justify-content: right;
  gap: 20px;
}
#scroller-t-r img {
  cursor: pointer;
  width: 25px;
  height: auto;
  margin: auto 0;
}
#scroller-t-r p {
  cursor: pointer;
  margin: auto 0;
}
#scroller-b {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
}
#scroller-b > p {
  cursor: pointer;
}
#scroller-b > p:hover {
  text-decoration: underline;
  text-decoration-color: #8f2c34;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
#warning {
  color: #8f2c34;
  padding-top: 5px;
  display: none;
}

/* SCROLLER END */

#productsbox {
  display: flex;
  width: 100%;
}
.sort {
  width: 30%;
  margin-left: 5%;
}
#products {
  width: 100%;
  font-family: "Mulish", sans-serif;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2%;
}
#products img {
  width: 100%;
}

.category {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10%;
  font-family: "Mulish", sans-serif;
}
.price {
  font-size: 17px;
  font-weight: 600;
  margin-top: 5%;
  font-family: "Mulish", sans-serif;
}
.disappear {
  display: none;
  font-size: 13px;
  font-family: "Mulish", sans-serif;
}
.category:hover .disappear {
  display: block;
}
.disappear {
  display: none;
  margin-top: 4%;
}
.price:hover .disappear {
  display: block;
}
hr {
  width: 50%;
  margin-right: 300px;
  margin-top: 10px;
}
a {
  color: rgb(85, 82, 82);
  font-weight: lighter;
  text-decoration: none;
}
a:hover {
  color: rgba(133, 19, 19, 0.767);
}
.sort {
  align-items: center;
}
.price button {
  font-family: sans-serif;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  color: rgb(85, 82, 82);
  background-color: #f4f2e5;
}
#products img:hover {
  /* opacity: .5; */
  cursor: pointer;
}

#products p {
  background-color: #f9f8f1;
  font-size: small;
  margin-left: 2px;
  padding: 5px;
}
#products .mrpred {
  color: rgba(82, 12, 12, 0.767);
  padding-bottom: 25px;
  font-size: medium;
}

.signinup {
  text-align: right;
  padding-bottom: 10px;
  cursor: pointer;
}

/*======= FOOTER START ========*/
#bottom {
  padding-top: 20px;

  width: 100%;
  background-color: #dbd9cd;
  font-size: medium;

  margin-top: 400px;
}
#bottom_t {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #dbd9cd;
}
#fabcolor {
  background-color: #dbd9cd;
}
#mediaq img {
  margin-top: 10px;
  cursor: pointer;
}
#bottom p {
  margin: 10px 0px;
  background-color: #dbd9cd;
}

#bottom_t > div {
  margin: 1% auto;
  padding: 0px 20px;
  background-color: #dbd9cd;
}
#bottom_b {
  display: flex;
  justify-content: space-between;
  background-color: #dbd9cd;
}

#bottom_b > h3 {
  margin: 2.7%;
  background-color: #dbd9cd;
}
#bottom_b > img {
  margin: 1.7%;
}
#bottom hr {
  width: 100%;
}
h3 {
  background-color: #dbd9cd;
}
/*======= FOOTER END =========*/

/*======= Description Panel Start =====*/
#desc {
  margin-top: 10px;
  height: 70px;
  width: 100%;
  background-color: #f9f8f1;
  display: flex;
}
#desc > div {
  margin: auto;
}
#desc > div:nth-child(1) {
  margin: auto 2% auto;
}
#desc-sort {
  display: flex;
  gap: 10px;
  background-color: #f9f8f1;
}
#desc-sort button {
  letter-spacing: 2px;
  font-weight: 600;
  padding: 5px 7px;
  cursor: pointer;
}
#desc-b1 {
  border: 2px solid black;
}
#desc-b2 {
  border: 1px solid gray;
}
#desc p {
  background-color: #f9f8f1;
}
/*======= Description Panel End =====*/

@media (max-width: 800px) {
  #productsbox {
    display: inline;
  }
  #products {
    margin-top: 2%;
    grid-template-columns: auto auto;
    margin-left: 3%;
  }
  #desc {
    display: none;
  }
  .sort {
    width: 100%;
    margin-top: 1%;
    display: flex;

    margin-left: 3%;
  }
  hr {
    display: none;
  }
  .category {
    width: 43%;
    border: 1px solid black;
    margin-top: 1%;
    padding: 1% 1% 1%;
    font-size: medium;
  }
  .price {
    width: 43%;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 3%;
    padding: 1% 1% 1%;
    font-size: medium;
  }
  #bottom {
    margin-top: 30%;
  }
  #bottom img {
    display: none;
  }
  #bottom p {
    display: none;
  }
  #bottom_t {
    display: inline;
  }
  #bottom h3 {
    font-size: medium;
    font-weight: normal;
  }
  #onlycart {
    display: none;
  }
  #scroller-t #mediaimg {
    width: 100px;
    height: auto;
  }
  #scroller-t input {
    padding-left: 10px;
    height: 40px;
    width: 100%;
  }
  #mediaproducts {
    display: none;
  }
  #scroller #warning {
    font-size: xx-small;
  }
}
@media (max-width: 500px) {
  body {
    min-width: 350px;
  }
  .category,
  .price {
    font-size: x-small;
  }
  #scroller-t #mediaimg {
    width: 70px;
  }
  #bottom h3 {
    font-size: small;
  }
  #scroller-t input {
    font-size: xx-small;
    padding: 0;
    width: 95px;
    height: 25px;
    text-align: center;
  }
  #scroller #warning {
    font-size: xx-small;
  }
}
